.span {
    display: inline-block;
    margin-bottom: 10px; /** Change this value to whatever you wish **/
    margin-left: 5px;
    margin-right: 5px;
}

.table {
    width: auto;
    /* float: left; */
    display: inline-block;
    align-content: center;
    align-self: center;
    margin: 1em;
    border: 0.1em solid black;
}

.div {
    align-content: center;
}
.span {
    display: inline-block;
    margin-bottom: 10px; /** Change this value to whatever you wish **/
    margin-left: 5px;
    margin-right: 5px;
}

.th {
    padding: 2em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.td {
    padding: 2em;
}

.th {
    background-color: #002fff;
    color: white;
}
